---
import { useTranslate } from "@/i18n/utils";
import Section from "../Section.astro";

const t = useTranslate(Astro.currentLocale);
---

<Section title="Sobre mi">
  <p class="leading-7 print:leading-relaxed print:mt-1">
    {t("ABOUT_ME")}
  </p>
</Section>
