---
import { useTranslate } from "@/i18n/utils";
import SocialIcons from "../SocialIcons.astro";
import StatusWork from "../StatusWork.astro";

const t = useTranslate(Astro.currentLocale);
---

<div
  class="flex md:flex-row print:flex-row flex-col items-start md:items-center gap-10 mb-10 md:mb-12 print:mb-2 mx-6 lg:mx-0 print:gap-6 print:mt-4"
>
  <img
    src="/images/portrait.webp"
    alt="portrait"
    class="md:size-48 size-40 print:size-[132px]"
  />
  <div>
    <h1
      class="text-[22px] md:text-3xl font-bold
    text-[var(--title-tint)] dark:text-[var(--dark-title-tint)]"
    >
      Cristian Rubén Figueroa Espinoza
    </h1>
    <h2
      class="my-3 print:my-1.5 max-w-lg print:text-sm print:text-[rgb(78,78,78)]"
    >
      {t("MAIN_DESCRIPTION")}
    </h2>
    <StatusWork />
    <SocialIcons />
  </div>
</div>
