:root {
	--accent: #6ebdf2;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

.time-line-container>div:last-child .education__time>.education__line {
	display: none;
}

body {
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 20px;
	line-height: 1.7;
}

main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1em;
	margin-bottom: 0.3em;
	color: rgb(var(--gray-light));
	line-height: 1.2;
}

h1 {
	font-size: 2.8em;
}

h2 {
	font-size: 2.2em;
}

h3 {
	font-size: 1.7em;
}

h4 {
	font-size: 1.3em;
}

h5 {
	font-size: 1em;
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--accent);
}

a:hover {
	color: var(--accent);
}

p {
	margin-bottom: 1em;
}

.prose p {
	margin-bottom: 2em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 6px;
	font-size: 0.8em;
	color: #000d8a;
}

pre {
	padding: 1.2em;
	border-radius: 8px;
	font-size: 0.75em;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}


ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

ul,
ol {
	padding-left: 1.45rem;
}

li {
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
	padding-left: 0.5rem;
}

li::marker {
	font-size: 1em;
	font-weight: 600;
}

ol>li::marker {
	color: rgb(11, 194, 11);
}

ul>li::marker {
	color: rgb(11, 194, 11);
}

li :is(ol, ul) {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

li :is(li, p) {
	margin-top: 0.125rem;
	margin-bottom: 0.125rem;
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}