---
import { projects } from "../../data/projects";
import { TAGS } from "../../data/tags";
import { useTranslate } from "../../i18n/utils";
import MainLayout from "../../layouts/MainLayout.astro";
import Card from "../Card.astro";
import ProjectCard from "../ProjectCard.astro";
import SocialIcons from "../SocialIcons.astro";
import StackCard from "../StackCard.astro";
import StatusWork from "../StatusWork.astro";

const stack = [
  TAGS.REACT,
  TAGS.ASTRO,
  TAGS.NEXTJS,
  TAGS.JS,
  TAGS.TS,
  TAGS.PRISMA,
  TAGS.NODEJS,
  TAGS.GIT,
  TAGS.GITHUB,
  TAGS.TAILWIND,
];

const t = useTranslate(Astro.currentLocale);
---

<MainLayout title={t("MAIN_TITLE")} description={t("MAIN_DESCRIPTION")} isMain>
  <div
    class="flex md:flex-row flex-col items-start md:items-center gap-8 mb-10 md:mb-12"
  >
    <img
      src="/images/portrait.webp"
      alt="Cristian Ruben Figueroa Espinoza"
      class="md:size-56 size-40"
    />
    <div>
      <h1 class="text-[24px] md:text-4xl font-bold mb-4 mt-0 text-amber-200/90">
        Cristian Rubén Figueroa
      </h1>
      <h2 class="text-base md:text-lg my-1">
        {t("MAIN_DESCRIPTION")}
      </h2>
      <h2 class="text-base md:text-lg mb-4">
        {t("MAIN_DESCRIPTION_2")}
      </h2>
      <StatusWork />
      <SocialIcons />
    </div>
  </div>

  <h1 class="text-2xl font-bold mt-10 text-amber-200/90">
    {t("MY_PROJECTS")}
  </h1>
  <h2 class="mb-6 mt-3 text-lg text-neutral-300">
    {t("MY_PROJECTS_CARD_DESCRIPTION")}
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
    {
      projects
        .slice(0, 3)
        .map((project) => <ProjectCard project={project} compact />)
    }
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mt-5">
    <Card title={t("RESUME_TITLE")} href="/resume" icon="mdi:calendar-outline">
      <p class="text-base md:text-lg">Conoce un poco mas sobre mi aqui</p>
    </Card>

    <Card title={"Todos Mis Proyectos"} href="/projects" icon="mdi:stars">
      <p class="text-base md:text-lg">
        Echa un vistazo a los proyectos que he realizado
      </p>
    </Card>
  </div>

  <h1 class="text-2xl font-bold mt-14 text-amber-200/90">Tecnologias</h1>
  <h2 class="mb-6 text-lg mt-3 text-neutral-300">
    Mis tecnologias favoritas, que uso en mis proyectos y que son parte de mi
  </h2>

  <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-5">
    {stack.map((tag) => <StackCard name={tag.name} icon={tag.icon} />)}
  </div>
</MainLayout>
