---
import { projects } from "@/data/projects";
import { TAGS } from "@/data/tags";
import { useTranslate } from "@/i18n/utils";
import MainLayout from "@/layouts/MainLayout.astro";
import ProjectCard from "../ProjectCard.astro";
import SocialIcons from "../SocialIcons.astro";
import StackCard from "../StackCard.astro";
import StatusWork from "../StatusWork.astro";

const stack = [
  TAGS.REACT,
  TAGS.ASTRO,
  TAGS.NEXTJS,
  TAGS.JS,
  TAGS.TS,
  TAGS.PRISMA,
  TAGS.NODEJS,
  TAGS.GIT,
  TAGS.GITHUB,
  TAGS.TAILWIND,
];

const t = useTranslate(Astro.currentLocale);
---

<MainLayout title={t("MAIN_TITLE")} description={t("MAIN_DESCRIPTION")}>
  <div class="flex md:flex-row flex-col items-start gap-8 mb-10 md:mb-12">
    <img
      src="/me.webp"
      alt="Cristian Ruben Figueroa Espinoza"
      class="md:size-52 size-40"
    />
    <div class="text-base">
      <h1
        class="text-[22px] md:text-3xl font-bold mb-4 dark:text-amber-200/90 text-yellow-500"
      >
        Cristian Rubén Figueroa Espinoza
      </h1>
      <h2>{t("MAIN_DESCRIPTION")}</h2>
      <h2 class="mb-4">{t("MAIN_DESCRIPTION_2")}</h2>
      <StatusWork />
      <SocialIcons />
    </div>
  </div>

  <h1 class="text-2xl font-bold mt-10 dark:text-amber-200/90 text-yellow-500">
    {t("MY_PROJECTS")}
  </h1>
  <h2 class="mb-6 mt-2">
    {t("MY_PROJECTS_DESCRIPTION")}
  </h2>

  <div class="grid grid-cols-1 gap-5">
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>

  <h1 class="text-2xl font-bold mt-14 dark:text-amber-200/90 text-yellow-500">
    {t("SKILLS_TEXT")}
  </h1>
  <h2 class="mb-6 mt-2">
    {t("SKILLS_DESCRIPTION")}
  </h2>

  <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-5">
    {stack.map((tag) => <StackCard name={tag.name} icon={tag.icon} />)}
  </div>
</MainLayout>
