---
import ProjectCard from "../../components/ProjectCard.astro";
import { projects } from "../../data/projects";
import { useTranslate } from "../../i18n/utils";
import MainLayout from "../../layouts/MainLayout.astro";

const lang = Astro.currentLocale === "es" ? "es" : "en";
const t = useTranslate(lang);
---

<MainLayout
  title={t("MY_PROJECTS")}
  description={t("MY_PROJECTS_DESCRIPTION")}
  isMain={false}
>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-3 md:gap-5">
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</MainLayout>
