---
import Section from "../Section.astro";
---

<Section title="Sobre mi">
  <p class="leading-7 print:leading-relaxed">
    +15 años de experiencia como Desarrollador Web. Actualmente soy Creador de
    Contenido y Divulgador sobre Programación. Vivo en Barcelona, España. He
    trabajado en diferentes entornos: desde acelerar el desarrollo de start-ups
    hasta liderando equipos de empresas multinacionales.
  </p>
</Section>
