---
import { resume } from "@/data/resume";
import { useTranslate } from "@/i18n/utils";
import ProjectCard from "../ProjectCard.astro";
import Section from "../Section.astro";

const projects = resume.projects;

const t = useTranslate(Astro.currentLocale);
---

<Section title={t("MY_PROJECTS")} subtitle={t("MY_PROJECTS_DESCRIPTION")}>
  <div
    id="projects"
    class="flex gap-5 overflow-x-auto w-full px-6 lg:px-0 rounded-2xl overflow-hidden md:bg-neutral-700/10 p-4 border-neutral-400/10 md:border"
  >
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</Section>

<style>
  #projects {
    scrollbar-width: none;
  }
</style>
