---
import { resume } from "@/data/resume";
import { useTranslate } from "@/i18n/utils";
import Section from "../Section.astro";
import StackCard from "../StackCard.astro";

const t = useTranslate(Astro.currentLocale);

const stack = resume.stack;
---

<Section
  title="Habilidades"
  subtitle="Tecnologías que he utilizado en mis proyectos y que manejo con soltura"
>
  <div class="flex flex-wrap gap-3 mx-6 sm:mx-0">
    {stack.map((tag) => <StackCard name={tag.name} icon={tag.icon} />)}
  </div>
</Section>
