---
import { resume } from "../../data/resume";
import StackCard from "../StackCard.astro";

const stack = resume.stack;
---

<h1 class="text-2xl font-bold mt-14 text-amber-200/90 mx-6 sm:mx-0">
  Habilidades
</h1>
<h2 class="mb-6 mt-4 mx-6 sm:mx-0">
  Tecnologias que he utilizado en mis proyectos y que manejo con soltura
</h2>

<div class="flex flex-wrap gap-3 mx-6 sm:mx-0">
  {stack.map((tag) => <StackCard name={tag.name} icon={tag.icon} />)}
</div>
