---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Pagina no encontrada"
  description="Pagina no encontrada"
  isMain
>
  <h1>404</h1>
  <p>Page not found</p>
</MainLayout>
