---
import Button from "@/components/Button.astro";
import { useTranslate, useTranslateLink } from "@/i18n/utils";
import MainLayout from "@/layouts/MainLayout.astro";

const t = useTranslate(Astro.currentLocale);
const translatedLink = useTranslateLink(Astro.currentLocale);
---

<MainLayout title={t("TITLE_404")} description={t("DESCRIPTION_404")}>
  <div class="flex flex-col justify-center items-center min-h-[55vh]">
    <h1 class="font-bold text-9xl text-amber-200">404</h1>

    <h3 class="mb-16 text-2xl">
      {t("TITLE_404")}
    </h3>

    <p class="max-w-lg text-center">
      {t("DESCRIPTION_404")}
    </p>

    <div class="flex max-w-lg mt-8">
      <Button href={translatedLink("/")} text={t("BACK_TO_HOME_TEXT")} />
    </div>
  </div>
</MainLayout>
