---
import Card from "../components/Card.astro";
import SocialIcons from "../components/SocialIcons.astro";
import StatusWork from "../components/StatusWork.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
	title="Cristian | Programador Full Stack, Diseñador fronted y movil"
	description="Programador Full Stack, Diseñador fronted y movil"
	isMain
>
	<div
		class="flex md:flex-row flex-col items-start md:items-center gap-8 my-6 mb-10 md:mb-20"
	>
		<img
			src="/images/portrait.webp"
			alt="Cristian Ruben Figueroa Espinoza"
			class="rounded-2xl md:w-48 md:h-48 w-40 h-40"
		/>
		<div>
			<h1 class="text-[24px] md:text-4xl font-bold mb-4 mt-0 text-amber-200/90">
				Cristian Ruben Figueroa
			</h1>
			<h3 class="text-base md:text-lg text-neutral-300 my-1 mb-4">
				Programador Full Stack, Diseñador fronted y movil
			</h3>
			<StatusWork />
			<SocialIcons class="mt-5" />
		</div>
	</div>

	<div class="grid grid-cols-2 md:grid-cols-5 gap-0 md:gap-5 mt-10">
		<div class="flex flex-col col-span-3 gap-5">
			<Card title="Mi Trayectoria" href="/projects" icon="mdi:calendar-outline">
				<p class="text-base md:text-lg text-neutral-300 m-0">
					He trabajado en diferentes proyectos, desde aplicaciones web hasta
					aplicaciones moviles.
				</p>
			</Card>

			<Card title="Acerca de mi" icon="ion:person-outline">
				<p class="text-base md:text-lg text-neutral-300">
					Soy programador fullstack y movil, me encanta lo que hago, soy un
					apasionado de la tecnologia y el desarrollo de software, me
					especializo en crear soluciones para negocios en la web y en
					plataformas moviles.
				</p>

				<p class="hidden md:block text-base md:text-lg text-neutral-300">
					Tengo un gran conocimiento de lo que se necesita para crear grandes
					interfaces de usuario y diseños que funcionen bien en cualquier
					dispositivo, desde ordenadores de sobremesa hasta teléfonos móviles.
				</p>
			</Card>
		</div>

		<div class="flex flex-col gap-5 col-span-2 mt-5 md:mt-0">
			<Card title="Mis Proyectos" href="/projects" icon="ep:suitcase">
				<p class="text-base md:text-lg text-neutral-300 m-0 text-pretty">
					Proyectos en los que he trabajado y de los que mas orgulloso me
					siento.
				</p>
			</Card>

			<Card title="Recomendaciones" href="/recommendations" icon="mdi:stars">
				<p class="text-base md:text-lg text-neutral-300 m-0 text-pretty">
					El software, dispositivos y cosas que uso para desarrollar y que
					recomiendo.
				</p>
			</Card>

			<Card title="Mi blog personal" href="/blog" icon="carbon:blog">
				<p class="text-base md:text-lg text-neutral-300 m-0">
					Cuando no estoy programando, escribo sobre diseño de interfaces,
					programación y hobbies.
				</p>
			</Card>
		</div>
	</div>
</MainLayout>
