---
import Card from "../components/Card.astro";
import SocialIcons from "../components/SocialIcons.astro";
import StatusWork from "../components/StatusWork.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Cristian Ruben">
	<div class="flex md:flex-row flex-col items-start md:items-center gap-8">
		<img
			src="/images/portrait.jpg"
			alt="Cristian Ruben Figueroa Espinoza"
			class="rounded-2xl md:w-48 md:h-48 w-40 h-40"
		/>
		<div>
			<h1 class="text-[24px] md:text-[40px] font-bold mb-1 mt-0 text-white">
				Cristian Ruben Figueroa
			</h1>
			<h3 class="text-base md:text-lg text-neutral-300 my-1 mb-4">
				Programador Full Stack, Diseñador fronted y movil
			</h3>
			<StatusWork />
			<div class="mt-5">
				<SocialIcons />
			</div>
		</div>
	</div>

	<div class="grid grid-cols-2 md:grid-cols-5 gap-0 md:gap-5 mt-10">
		<div
			class="border rounded-2xl col-span-3 p-4 md:p-5 border-neutral-700 bg-neutral-500/10 backdrop-blur-md"
		>
			<h5 class="mt-0 font-semibold mb-4 text-base md:text-lg">Acerca de mi</h5>

			<p class="text-base md:text-lg text-neutral-400">
				Soy programador fullstack y movil, me encanta lo que hago, soy un
				apasionado de la tecnologia y el desarrollo de software, me especializo
				en crear soluciones para negocios en la web y en plataformas moviles.
			</p>

			<p class="hidden md:block text-base md:text-lg text-neutral-400">
				Tengo un gran conocimiento de lo que se necesita para crear grandes
				interfaces de usuario y diseños que funcionen bien en cualquier
				dispositivo, desde ordenadores de sobremesa hasta teléfonos móviles.
			</p>
		</div>

		<div class="flex flex-row md:flex-col gap-5 col-span-2 mt-5 md:mt-0">
			<Card title="Mis Proyectos" href="/projects" transitionName="projects">
				<p class="text-base md:text-lg text-neutral-400 m-0">
					Proyectos en los que he trabajado y de los que mas orgulloso me
					siento.
				</p>
			</Card>

			<Card
				title="Recomendaciones"
				href="/recommendations"
				transitionName="recommendations"
			>
				<p class="text-base md:text-lg text-neutral-400 m-0">
					Proyectos en los que he trabajado y de los que mas orgulloso me
					siento.
				</p>
			</Card>

			<Card title="Mis blog personal" href="/blog" transitionName="blog">
				<p class="text-base md:text-lg text-neutral-400 m-0">
					Proyectos en los que he trabajado y de los que mas orgulloso me
					siento.
				</p>
			</Card>
		</div>
	</div>
</MainLayout>
