---
import StatusWork from "../components/StatusWork.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Cristian Ruben">
	<main>
		
		<h1 class="text-[40px] font-bold mb-1">Cristian Ruben Figueroa</h1>
		<h3 class="text-lg text-neutral-700 my-1 mb-4">Programador Full Stack, Diseñador fronted y movil</h3>
		<StatusWork status={true} />

		<p class="mt-10">
			Welcome to the official blog
			starter template. This template serves as a lightweight, minimally-styled
			starting point for anyone looking to build a personal website, blog, or
			portfolio with Astro.
		</p>
	</main>
</MainLayout>
