---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Mis proyectos">
	<h1 class="md:text-[40px] text-[32px] font-bold mt-0" transition:name="blog">
		Mis Recomendaciones
	</h1>
	<h4 class="mb-6 -mt-2 text-lg text-neutral-400">
		El software que uso, las cosas que uso para desarrollar, mantenerme productivo y pensar que estoy
		siendo productivo cuando en realidad solo estoy procrastinando
	</h4>
</MainLayout>
