---
import { links } from "../../data/links";
import NavItem from "./NavItems.astro";
---

<nav class="hidden md:flex justify-center">
  <div
    class="flex px-5 py-3 text-lg border rounded-2xl bg-neutral-600/20 border-white/10 text-zinc-400"
  >
    {links.map(({ href, label }) => <NavItem href={href} label={label} />)}
  </div>
</nav>
