---
import { links } from "../../data/links";
import NavItem from "./NavItems.astro";
---

<header class="md:hidden absolute inset-x-0 top-0 z-50 pt-6 px-6">
  <nav class="w-full flex justify-center relative">
    <div
      data-nav-overlay
      aria-hidden="true"
      class="fixed hidden inset-0 backdrop-blur-md"
    >
    </div>

    <div
      data-navbar
      class="flex h-0 overflow-hidden duration-300 ease-linear flex-col w-full absolute top-full bg-zinc-900 rounded-xl"
    >
      <nav class="p-6 flex flex-col gap-y-4 text-lg text-neutral-300 w-full">
        {links.map(({ href, label }) => <NavItem href={href} label={label} />)}
      </nav>
    </div>

    <div class="flex items-center justify-center">
      <button
        data-toggle-nav
        data-open-nav="false"
        class="w-full h-auto flex flex-col gap-1 border rounded-2xl border-white/10 p-4"
      >
        <span
          id="line1"
          class="w-6 h-0.5 bg-neutral-400 transition-all duration-300 ease-linear"
        ></span>
        <span
          id="line2"
          class="w-6 origin-center h-0.5 bg-neutral-400 transition-all duration-300 ease-linear"
        ></span>
        <span
          id="line3"
          class="w-6 h-0.5 bg-neutral-400 transition-all duration-300 ease-linear"
        ></span>
      </button>
    </div>
  </nav>
</header>

<script src="./script.js"></script>
