---
import { useTranslate, useTranslateLink } from "../../i18n/utils";

const t = useTranslate(Astro.currentLocale);
const translateLink = useTranslateLink(Astro.currentLocale);

const { href, label } = Astro.props;
const { pathname } = Astro.url;

const isActive =
  pathname === translateLink(href) ||
  pathname.replace(/\/$/, "") === translateLink(href);
---

<a
  href={translateLink(href)}
  class:list={[
    "relative block px-3 py-0 text-base md:hover:bg-neutral-200/10 rounded-md transition-colors duration-500",
    isActive ? "text-amber-400" : "text-neutral-400",
  ]}
>
  {t(label)}
  {
    isActive && (
      <span class="absolute h-px inset-x-1 -bottom-px bg-gradient-to-r from-transparent via-amber-400/80 to-transparent" />
    )
  }
</a>
