---
import { useTranslate, useTranslateLink } from "@/i18n/utils";

const t = useTranslate(Astro.currentLocale);
const translateLink = useTranslateLink(Astro.currentLocale);

const { href, label } = Astro.props;
const { pathname } = Astro.url;

const isActive =
  pathname === translateLink(href) ||
  pathname.replace(/\/$/, "") === translateLink(href);
---

<a
  href={translateLink(href)}
  class:list={[
    "relative block px-3 py-0 md:text-base text-sm md:hover:bg-neutral-200/10 rounded-md transition-colors duration-500",
    isActive
      ? "dark:text-amber-400 text-amber-700"
      : "dark:text-neutral-400 text-neutral-500",
  ]}
>
  {t(label)}
  {
    isActive && (
      <span class="absolute h-px inset-x-1 -bottom-px bg-gradient-to-r from-transparent via-amber-600/80 dark:via-amber-500 to-transparent" />
    )
  }
</a>
