---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const { href, label } = Astro.props;
const { pathname } = Astro.url;

const isActive = pathname === translatePath(href);
---

<a
  href={translatePath(href)}
  class:list={[
    "relative text-neutral-400 block px-3 py-0 text-base hover:bg-white/10 rounded-md transition-colors duration-500",
    { active: isActive },
  ]}
>
  {t(label)}
  {
    isActive && (
      <span class="absolute h-px inset-x-1 -bottom-px bg-gradient-to-r from-amber-400/0 via-amber-400/80 to-amber-400/0" />
    )
  }
</a>

<style>
  a.active {
    color: rgb(251 191 36);
  }
</style>
