---
import "./background.css";
---

<div
  class="fixed inset-0 -z-10 h-full w-full dark:bg-neutral-900 bg-neutral-100"
>
  <div class="radial block dark:hidden"></div>
  <div class="radial-dark hidden dark:block"></div>
</div>
