---
import { Icon } from "astro-icon";
import { useTranslate } from "../i18n/utils";

const lang = Astro.currentLocale === "es" ? "es" : "en";
const t = useTranslate(lang);
---

<div
  class="h-12 flex justify-center items-center
  dark:md:bg-neutral-600/30 md:bg-neutral-400/30 bg-neutral-600
  dark:text-amber-100/90 text-neutral-500
  gap-2 group md:relative fixed bottom-0 inset-x-0 z-20"
>
  <a href="https://cristianblog.vercel.app">
    <span class="absolute z-20 -inset-y-1 -inset-x-1"></span>
  </a>
  <span class="font-semibold text-sm hidden md:block">
    {t("BLOG_BANNER")}
  </span>
  <span class="font-semibold text-sm md:hidden">
    {t("BLOG_BANNER_SMALL")}
  </span>
  <Icon
    name="mdi:arrow-right"
    class="size-4 md:group-hover:translate-x-2 transition-transform"
  />
</div>
