---
interface Props {
  text?: string;
  href: string | undefined;
  icon: string;
}

const { text, href, icon } = Astro.props;

import { Icon } from "astro-icon";
---

<a
  href={href}
  class="w-full text-center rounded-lg text-base py-1.5 border
  dark:bg-neutral-800/60 bg-neutral-300/40
  dark:border-neutral-700/40 border-neutral-400/20"
>
  <span class="flex justify-center items-center">
    <Icon name={icon} class="w-4 mr-2" />
    {text}
  </span>
</a>
