---
interface Props {
  text?: string;
  href: string | undefined;
  icon: string;
}

const { text, href, icon } = Astro.props;

import { Icon } from "astro-icon";
---

<a
  href={href}
  class="dark:bg-neutral-800 bg-neutral-300/80 w-full text-center rounded-lg text-base py-1 border dark:border-neutral-700 border-neutral-500/80"
>
  <span class="flex justify-center items-center">
    <Icon name={icon} class="w-4 mr-2" />
    {text}
  </span>
</a>
