---
interface Props {
  title: string;
  href: string;
}

import { Icon } from "astro-icon";

const { title, href } = Astro.props;
---

<a
  href={href}
  class="rounded-2xl p-4 md:p-5 h-full md:h-1/2 w-full bg-gray-700/40 backdrop-blur-md hover:scale-105 transition-all duration-500"
>
  <div class="flex justify-between items-center">
    <h5 class="mt-0 mb-3 text-base md:text-lg font-semibold text-start">
      {title}
    </h5>

    <Icon name="mdi:arrow-right" class="w-6 h-6 text-neutral-200 -mt-3" />
  </div>

  <slot />
</a>
