---
interface Props {
  title: string;
  icon?: string;
  href?: string;
}

import { Icon } from "astro-icon";
const { title, icon, href } = Astro.props;
---

<a
  href={href}
  class="rounded-2xl group p-4 md:p-7 md:py-5 w-full bg-gray-700/40 backdrop-blur-md"
>
  <div class="flex justify-between items-center mb-3">
    <div class="flex justify-center items-center gap-3">
      {
        icon && (
          <Icon
            name={icon}
            class="size-6 text-neutral-200 group-hover:text-amber-400 transition-transform"
          />
        )
      }
      <h5
        class="mt-1 text-base md:text-lg font-semibold text-start group-hover:text-amber-400"
      >
        {title}
      </h5>
    </div>

    {
      href && (
        <Icon
          name="mdi:arrow-right"
          class="size-6 text-neutral-200 -ml-3 group-hover:translate-x-2 group-hover:text-amber-400 transition-transform"
        />
      )
    }
  </div>

  <slot />
</a>
