---
import { Icon } from "astro-icon";

interface Props {
  title: string;
  icon: string;
  href?: string;
}

const { title, icon, href } = Astro.props;
---

<div
  class="group relative h-full flex flex-col z-10 gap-2 md:gap-4 w-full p-5 md:p-6 bg-gray-700/40 rounded-2xl"
>
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-3">
      <Icon
        name={icon}
        class="size-6 text-amber-100/90 md:group-hover:text-amber-400 transition-transform"
      />

      {
        href ? (
          <a href={href}>
            <span class="absolute z-20 -inset-y-1 -inset-x-1" />
            <span class="relative z-10 mt-1 text-amber-100/90 md:group-hover:text-amber-400 font-semibold text-lg">
              {title}
            </span>
          </a>
        ) : (
          <span>
            <span class="absolute z-20 -inset-y-1 -inset-x-1" />
            <span class="relative z-10 text-amber-100/90 md:group-hover:text-amber-400 font-semibold text-lg">
              {title}
            </span>
          </span>
        )
      }
    </div>

    {
      href && (
        <Icon
          name="mdi:arrow-right"
          class="size-6 text-amber-100/90 -ml-4 md:group-hover:translate-x-2 md:group-hover:text-amber-400 transition-transform"
        />
      )
    }
  </div>

  <slot />
</div>
