<div class="flex items-center border border-neutral-400/60 rounded-lg">
  <button id="blue" class="flex justify-center items-center rounded-lg p-2.5">
    <span class="rounded-full size-3 bg-blue-500"></span>
    <span class="sr-only">Azul</span>
  </button>
  <button id="purple" class="flex justify-center items-center rounded-lg p-2.5">
    <span class="rounded-full size-3 bg-purple-500"></span>
    <span class="sr-only">Morado</span>
  </button>
  <button id="green" class="flex justify-center items-center rounded-lg p-2.5">
    <span class="rounded-full size-3 bg-green-500"></span>
    <span class="sr-only">Verde</span>
  </button>
  <button id="yellow" class="flex justify-center items-center rounded-lg p-2.5">
    <span class="rounded-full size-3 bg-yellow-500"></span>
    <span class="sr-only">Amarillo</span>
  </button>
</div>

<script is:inline>
 
</script>
