---
import { Icon } from "astro-icon";
const today = new Date();
---

<footer class="py-9 text-center bg-gray-200">
	&copy; {today.getFullYear()} Cristian Ruben Figueroa. All rights reserved.

	<div class="flex justify-center gap-3 mt-4">
		<a href="https://m.webtoo.ls/@astro" target="_blank" class="text-gray-500">
			<span class="sr-only">Follow Astro on Mastodon</span>
			<Icon pack="mdi" name="mastodon" class="w-8" />
		</a>

		<a href="https://twitter.com/astrodotbuild" target="_blank" class="text-gray-500">
			<span class="sr-only">Follow Astro on Twitter</span>
			<Icon pack="mdi" name="twitter" class="w-8" />
		</a>

		<a href="https://github.com/withastro/astro" target="_blank" class="text-gray-500">
			<span class="sr-only">Go to Astro's GitHub repo</span>
			<Icon pack="mdi" name="github" class="w-8" />
		</a>
	</div>
</footer>
