---
import ThemeToggle from "@/components/ThemeToggle";
import ColorSelector from "./ColorSelector";
import LanguagePicker from "./LanguagePicker.astro";
---

<footer
	class="flex flex-col-reverse md:flex-row gap-4 justify-between items-center py-10 text-center bg-transparent border-t border-neutral-700 lg:mx-16 mx-6 mt-4 md:mt-0"
>
	<span class="mb-10 md:mb-0">Cristian Ruben Figueroa Espinoza.</span>

	<div class="flex items-center flex-col md:flex-row justify-center gap-4">
		<LanguagePicker />
		<div class="flex gap-4">
			<ThemeToggle client:idle />
			<ColorSelector client:only />
		</div>
	</div>
</footer>

<style>
	@media print {
		footer {
			display: none;
		}
	}
</style>
@/components/ColorSelector
