---
import LanguagePicker from "./LanguagePicker.astro";
---

<footer
	class="flex flex-col-reverse md:flex-row gap-4 justify-between items-center py-10 text-center bg-transparent border-t border-neutral-700 md:mx-16 mx-6 mt-4 md:mt-0"
>
	<span class="mb-10 md:mb-0">Cristian Ruben Figueroa Espinoza.</span>

	<div class="flex flex-col md:flex-row items-center justify-center gap-5">
		<LanguagePicker />
	</div>
</footer>
