---
import SocialIcons from "./SocialIcons.astro";

const today = new Date();
---

<footer
	class="flex flex-col-reverse md:flex-row gap-4 justify-between items-center py-10 text-center bg-transparent border-t border-neutral-700 md:mx-16 mx-6 mt-4 md:mt-0"
>
	<span class="text-sm md:text-base">
		&copy; {today.getFullYear()} Cristian Ruben Figueroa. All rights reserved.
	</span>

	<div class="flex justify-center">
		<SocialIcons />
	</div>
</footer>
