---
import HeaderLink from "./HeaderLink.astro";
---

<header
	class="bg-gray-700/20 border border-neutral-700 backdrop-blur-lg px-8 py-3 rounded-2xl text-base fixed inset-x-6 top-6 mx-auto w-max z-40"
>
	<nav class="flex justify-between items-center gap-5">
		<HeaderLink href="/">Inicio</HeaderLink>
		<HeaderLink href="/projects">Proyectos</HeaderLink>
		<HeaderLink href="/resume">Curriculum</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/recommendations">Recomendaciones</HeaderLink>
	</nav>
</header>

<style>
	nav a {
		color: #bababa;
	}
	nav a.active {
		color: orange;
	}
</style>
