---
import HeaderLink from "./HeaderLink.astro";
---

<header class="bg-transparent border border-neutral-700 backdrop-blur-lg md:px-8 px-6 py-2 md:py-3 rounded-2xl text-base top-6 left-1/2 transform -translate-x-1/2 z-40 fixed">
	<nav class="flex justify-between items-center gap-3 md:gap-5">
		<HeaderLink href="/">Inicio</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/projects">Proyectos</HeaderLink>
		<HeaderLink href="/recommendations">Recomendaciones</HeaderLink>
	</nav>
</header>

<style>
	nav a {
		color: #bababa;
	}
	nav a.active {
		color: orange;
	}
</style>
