---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import {Icon} from "astro-icon"
---

<header class="bg-white px-6 border-b">
	<nav class="flex justify-between items-center">
		<h2>
			<a href="/">{SITE_TITLE}</a>
		</h2>

		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>

		<div class="hidden md:flex justify-center gap-2">
			<a href="https://m.webtoo.ls/@astro" target="_blank" class="text-gray-500">
				<span class="sr-only">Follow Astro on Mastodon</span>
				<Icon pack="mdi" name="mastodon" class="w-8" />
			</a>
	
			<a href="https://twitter.com/astrodotbuild" target="_blank" class="text-gray-500">
				<span class="sr-only">Follow Astro on Twitter</span>
				<Icon pack="mdi" name="twitter" class="w-8" />
			</a>
	
			<a href="https://github.com/withastro/astro" target="_blank" class="text-gray-500">
				<span class="sr-only">Go to Astro's GitHub repo</span>
				<Icon pack="mdi" name="github" class="w-8" />
			</a>
		</div>

	</nav>
</header>

<style>
	h2 {
		margin: 0;
		font-size: 1em;
	}
	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>
