---
import { languages } from "../i18n/ui";

const currentPath = Astro.url.pathname.slice(3);
---

<div class="flex gap-4">
  {
    Object.entries(languages).map(([lang, label]) => (
      <span class="bg-gray-800 px-3 py-1 rounded-md">
        <a href={`/${lang}${currentPath}`}>{label}</a>
      </span>
    ))
  }
</div>
