---
import { Icon } from "astro-icon";

const lang = Astro.currentLocale;

const classNames =
  "md:hover:dark:bg-neutral-700 md:hover:bg-neutral-300 px-3 py-1 rounded-md flex items-center gap-2 border";
---

<div class="flex gap-4">
  <a
    href="/en/"
    class:list={[
      classNames,
      lang === "en"
        ? "dark:bg-green-900 bg-green-300 dark:border-green-800 border-green-400"
        : "dark:bg-neutral-800 bg-neutral-300 dark:border-neutral-700 border-neutral-400",
    ]}
  >
    English
    <Icon name="emojione:flag-for-united-states" class="w-4 h-4" />
  </a>
  <a
    href="/"
    class:list={[
      classNames,
      lang === "es"
        ? "dark:bg-green-900 bg-green-200 dark:border-green-800 border-green-400"
        : "dark:bg-neutral-800 bg-neutral-300 dark:border-neutral-700 border-neutral-400",
    ]}
  >
    Español
    <Icon name="emojione:flag-for-mexico" class="w-4 h-4" />
  </a>
</div>
