---
import { getLangFromUrl, useTranslatedPath } from "../i18n/utils";

const currentPath = Astro.url.pathname.slice(0);

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<div class="flex gap-4">
  <span class="bg-gray-800 px-3 py-1 rounded-md">
    <a href={`/en/`}>English</a>
  </span>
  <span class="bg-gray-800 px-3 py-1 rounded-md">
    <a href={`/`}>Español</a>
  </span>
</div>
