---
import { Icon } from "astro-icon";

const lang = Astro.currentLocale;
---

<div class="flex gap-4">
  <a
    href="/en/"
    class:list={[
      "px-3 py-1 rounded-md flex items-center gap-2",
      lang === "en"
        ? "dark:bg-green-900 bg-green-400/60"
        : "dark:bg-gray-800 bg-gray-400/80",
    ]}
  >
    English
    <Icon name="emojione:flag-for-united-states" class="size-4" />
  </a>
  <a
    href="/"
    class:list={[
      "px-3 py-1 rounded-md flex items-center gap-2",
      lang === "es"
        ? "dark:bg-green-900 bg-green-400/60"
        : "dark:bg-gray-800 bg-gray-400/80",
    ]}
  >
    Español
    <Icon name="emojione:flag-for-mexico" class="size-4" />
  </a>
</div>
