---
import Badge from "./Badge.astro";

interface Props {
  project: any;
}

const lang = Astro.currentLocale === "es" ? "es" : "en";

const { project } = Astro.props;
---

<article
  class="flex flex-col h-full rounded-xl justify-between gap-3 group
  bg-neutral-400/10 dark:bg-neutral-700/10 p-5 relative"
>
  <h2
    class="text-lg md:text-xl font-bold group-hover:underline underline-offset-2"
  >
    {project.title}
  </h2>

  <a class="absolute inset-0 z-20" href={project.webpage}></a>

  <p class="text-base text-pretty">
    {project.description[lang]}
  </p>

  <div class="flex flex-wrap gap-2">
    {
      project.tags.map((tag: any) => (
        <Badge>
          <tag.icon class="size-4" />
          <span class="text-xs">{tag.name}</span>
        </Badge>
      ))
    }
  </div>
</article>
