---
interface Props {
  title: string;
  subtitle?: string;
  class?: string;
  [key: string]: unknown;
}

const { title, subtitle, class: className, ...props } = Astro.props;
---

<div class:list={["mx-6 lg:mx-0 mt-10 flex flex-col", className]} {...props}>
  <h1
    class="text-xl md:text-2xl font-bold dark:text-amber-200/90 text-yellow-500 mb-3"
  >
    {title}
  </h1>
  {subtitle && <h2 class="mb-6">{subtitle}</h2>}

  <slot />
</div>
