---
interface Props {
  title: string;
  subtitle?: string;
  class?: string;
  [key: string]: unknown;
}

const { title, subtitle, class: className, ...props } = Astro.props;
---

<div
  class:list={["mx-6 lg:mx-0 mt-10 print:mt-6 flex flex-col", className]}
  {...props}
>
  <h1
    class="text-xl md:text-2xl font-bold mb-3 print:mb-1
    dark:text-[var(--dark-title-tint)] text-[var(--title-tint)]"
  >
    {title}
  </h1>
  {subtitle && <h2 class="mb-6">{subtitle}</h2>}

  <slot />
</div>
