---
interface Props {
  title: string;
  subtitle: string;
  class?: string;
  [key: string]: unknown;
}

const { title, subtitle, class: className, ...props } = Astro.props;
---

<div
  class:list={["mx-6 sm:mx-0 mt-10 gap-2 flex flex-col mb-6", className]}
  {...props}
>
  <h1 class="text-2xl font-bold text-amber-200/90">{title}</h1>
  <h2>{subtitle}</h2>
</div>

<slot />
