---
interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<div class="mx-6 sm:mx-0 mt-10 gap-2 flex flex-col mb-6">
  <h1 class="text-2xl font-bold text-amber-200/90">{title}</h1>
  <h2>{subtitle}</h2>
</div>

<slot />
