---
import { Icon } from "astro-icon";
---

<div class="flex gap-4">
  <a
    href="https://github.com/cristian51310"
    target="_blank"
    class="text-gray-400"
  >
    <span class="sr-only">Go to Cristian Ruben's GitHub repo</span>
    <Icon pack="mdi" name="github" class="w-7" />
  </a>

  <a
    href="https://github.com/withastro/astro"
    target="_blank"
    class="text-gray-400"
  >
    <span class="sr-only">Go to Cristian Ruben's Linkedin</span>
    <Icon pack="mdi" name="linkedin" class="w-7" />
  </a>

  <a
    href="https://twitter.com/astrodotbuild"
    target="_blank"
    class="text-gray-400"
  >
    <span class="sr-only">Chat with Cristian Ruben on whatsapp</span>
    <Icon pack="mdi" name="whatsapp" class="w-7" />
  </a>

  <a
    href="https://twitter.com/astrodotbuild"
    target="_blank"
    class="text-gray-400"
  >
    <span class="sr-only">Follow Cristian Ruben on Twitter</span>
    <Icon pack="mdi" name="twitter" class="w-7" />
  </a>
</div>
