---
import { Icon } from "astro-icon";

const socialLinks = [
  {
    name: "Github",
    url: "https://github.com/cristian51310",
    icon: "mdi:github",
  },
  {
    name: "Linkedin",
    url: "https://www.linkedin.com/in/cristianruben",
    icon: "mdi:linkedin",
  },
  {
    name: "Whatsapp",
    url: "https://wa.me/+525646256576",
    icon: "mdi:whatsapp",
  },
  {
    name: "Twitter",
    url: "https://twitter.com/CristianRubnFi1",
    icon: "mdi:twitter",
  },
  {
    name: "Email",
    url: "mailto:cristian.figueroa.crfe@gmail.com",
    icon: "mdi:email",
  },
];
---

<div class="flex gap-4 mt-5">
  {
    socialLinks.map((link) => (
      <a
        href={link.url}
        target="_blank"
        class="border p-1 group rounded-lg border-neutral-400/10 bg-neutral-500/10"
      >
        <Icon
          name={link.icon}
          class="w-6 group-hover:text-white transition duration-300"
        />
        <span class="sr-only">Go to my {link.name}</span>
      </a>
    ))
  }
</div>
