---
import { Icon } from "astro-icon";
import { socialLinks } from "@/data/socialLinks";
---

<div class="flex gap-2 mt-5">
  {
    socialLinks.map((link) => (
      <a
        href={link.url}
        target="_blank"
        class="border p-1 rounded-lg 
        dark:border-neutral-700/40 border-neutral-400/60 
        dark:bg-neutral-500/10 
        dark:text-neutral-400 text-neutral-500/80"
      >
        <Icon name={link.icon} class="w-6" />
        <span class="sr-only">{link.label}</span>
      </a>
    ))
  }
</div>
