---
import { Icon } from "astro-icon";
---

<div class="flex gap-4">
  <a
    href="https://github.com/cristian51310"
    target="_blank"
    class="text-gray-400"
  >
    <span class="sr-only">Go to Cristian Ruben's GitHub repo</span>
    <Icon name="mdi:github" class="w-7" />
  </a>

  <a
    href="https://www.linkedin.com/in/cristian-ruben-figueroa-espinoza-613245262/"
    target="_blank"
    class="text-gray-400"
  >
    <span class="sr-only">Go to Cristian Ruben's Linkedin</span>
    <Icon name="mdi:linkedin" class="w-7" />
  </a>

  <a
    href="https://wa.me/+524621493816"
    target="_blank"
    class="text-gray-400"
  >
    <span class="sr-only">Chat with Cristian Ruben on whatsapp</span>
    <Icon name="mdi:whatsapp" class="w-7" />
  </a>

  <a
    href="https://twitter.com/CristianRubnFi1"
    target="_blank"
    class="text-gray-400"
  >
    <span class="sr-only">Follow Cristian Ruben on Twitter</span>
    <Icon name="mdi:twitter" class="w-7" />
  </a>

  <a
  href="mailto:cristian.figueroa.crfe@gmail.com"
  target="_blank"
  class="text-gray-400"
>
  <span class="sr-only">Chat with Cristian Ruben for email</span>
  <Icon name="mdi:email" class="w-7" />
</a>
</div>
