---
import GitHub from "./icons/simples/GitHub.astro"
import LinkedIn from "./icons/simples/LinkedIn.astro"
import Mail from "./icons/simples/Mail.astro"
import Whatsapp from "./icons/simples/Whatsapp.astro"
import WorldMap from "./icons/simples/WorldMap.astro"
import Download from "./icons/simples/Download.astro"
import X from "./icons/simples/X.astro"

export interface SocialLinkProp {
  name: string
  url: string
  print: string
  icon: any
  printable?: boolean
  visible?: boolean
}

export const socialLinks: SocialLinkProp[] = [
  {
    name: "Github",
    url: "https://github.com/cristian51310",
    print: "cristian51310",
    icon: GitHub,
  },
  {
    name: "Linkedin",
    url: "https://www.linkedin.com/in/cristianruben",
    print: "cristianruben",
    icon: LinkedIn,
  },
  {
    name: "Whatsapp",
    url: "https://wa.me/+523339632525",
    print: "+52 333-963-2525",
    icon: Whatsapp,
  },
  {
    name: "Twitter",
    url: "https://twitter.com/CristianRubnFi1",
    print: "CristianRubnFi1",
    icon: X,
    printable: false,
  },
  {
    name: "Email",
    url: "mailto:cristian.figueroa.crfe@gmail.com",
    print: "cristian.figueroa.crfe@gmail.com",
    icon: Mail,
  },
  {
    name: "Website",
    url: "https://cristianfigueroa.dev",
    print: "www.cristianfigueroa.dev",
    icon: WorldMap,
    visible: false,
  },
]
---

<div
  class='flex flex-wrap gap-2 md:gap-3 mt-3 print:gap-3 print:mt-1'
>
  {
    socialLinks.map((link) => (
      <a
        href={link.url}
        target='_blank'
        class:list={[
          "border p-1 md:p-1.5 print:p-0 print:px-1 group rounded-lg print:rounded-md dark:border-neutral-400/10 border-neutral-700/20 dark:bg-neutral-500/10 bg-neutral-400/10 flex gap-2 items-center justify-center",
          link.printable === false && "print:hidden",
          link.visible === false && "hidden print:flex",
        ]}
      >
        <link.icon
          width='22'
          class='print:w-3 dark:group-hover:text-white group-hover:text-black transition duration-300 print:text-neutral-800'
        />
        <span class='sr-only'>Go to my {link.name}</span>
        <p class=' hidden print:block'>{link.print}</p>
      </a>
    ))
  }
  <a
    href="/cristian-ruben-resume.pdf"
    target="_blank"
    class="border p-1.5 px-3 print:p-0 print:px-1 group rounded-lg print:rounded-md dark:border-neutral-400/10 border-neutral-700/20 dark:bg-neutral-500/10 bg-neutral-400/10 flex gap-2 print:hidden justify-center items-center"
  >
    <Download
      width="20"
      class="w-3 print:w-3 dark:group-hover:text-white group-hover:text-black transition duration-300"
    />
    <span class="text-sm">Descargar CV</span>
  </a>
</div>
