---
const { icon: Icon, name } = Astro.props;
---

<div
  class="flex p-4 py-2 gap-2 rounded-lg justify-center items-center
  dark:bg-neutral-700/10 bg-neutral-400/10"
>
  <Icon class="size-6" />
  <h2 class="text-sm">{name}</h2>
</div>
