---
import Card from "../components/Card.astro";

const { icon: Icon, name } = Astro.props;
---

<Card
  class="flex p-2.5 py-1.5 gap-2 print:p-0 justify-center items-center print:border-neutral-700/60 border"
>
  <Icon class="size-6 print:size-4" />
  <p class="text-sm print:text-xs">{name}</p>
</Card>
