---
import Card from "../components/Card.astro";

const { icon: Icon, name } = Astro.props;
---

<Card class="flex p-2.5 py-1.5 gap-2 justify-center items-center">
  <Icon class="size-6" />
  <h2 class="text-sm">{name}</h2>
</Card>
