<div
  class="inline-flex items-center justify-center px-3 py-1 border rounded-md border-lime-600/80"
>
  <span class="mr-2 flex size-3 items-center">
    <span
      class="absolute flex size-2 rounded-full opacity-75 animate-ping bg-lime-500"
    ></span>
    <span class="relative flex size-2 rounded-full bg-lime-500"></span>
  </span>

  <span class="text-sm text-lime-600">
    Disponible para nuevos proyectos
  </span>
</div>
