<a
  href="https://wa.me/+524621493816"
  class="inline-flex items-center justify-center px-4 py-1 border rounded-xl border-lime-600 transition-all hover:shadow-xl hover:shadow-green-800/30 hover:scale-105 hover:translate-x-2 duration-300"
>
  <span class="mr-2.5 flex h-3 w-3 items-center">
    <span
      class="absolute flex w-3 h-3 rounded-full opacity-75 animate-ping bg-lime-500"
    ></span>
    <span class="relative flex w-3 h-3 rounded-full bg-lime-500"></span>
  </span>

  <span class="text-sm md:text-base text-lime-500 mt-1">
    Disponible para proyectos <span class="font-bold">!Contactame¡</span>
  </span>
</a>
