---
import { useTranslate } from "@/i18n/utils";
const t = useTranslate(Astro.currentLocale);
---

<div
  class="inline-flex w-fit items-center justify-center px-2 py-1 border rounded-md print:hidden dark:border-lime-600/60 dark:bg-lime-800/10 border-lime-600 bg-lime-500/10"
>
  <span class="mr-1 flex size-3 items-center">
    <span
      class="absolute flex size-2 rounded-full opacity-75 animate-ping
      dark:bg-lime-500 bg-lime-500"
    ></span>
    <span
      class="relative flex size-2 rounded-full dark:bg-lime-500 bg-lime-600/80"
    ></span>
  </span>

  <span class="text-sm dark:text-lime-500 text-lime-700">
    {t("STATUS_WORK")}
  </span>
</div>
