---
interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<div class="flex">
  <div class="education__time mr-6">
    <span class="size-4 bg-lime-400 block rounded-full mt-3"></span>
    <span
      class="education__line bg-lime-400 block h-full w-[2px] translate-x-[7px]"
    ></span>
  </div>
  <div
    class="experience__data px-6 py-3 bg-gray-500/10 backdrop-blur-[2px] w-full rounded-xl border border-neutral-400/10"
  >
    <p class="font-semibold text-green-100 mt-1 mb-1">{title}</p>
    <span class="md:text-base text-sm text-blue-200">{subtitle}</span>
    <p class="my-2 md:text-base text-sm leading-relaxed text-pretty">
      <slot />
    </p>
  </div>
</div>

