---
interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<div class="flex">
  <div class="education__time mr-6">
    <span class="size-4 bg-lime-400/80 block rounded-full"></span>
    <span
      class="education__line bg-lime-400/80 block h-full w-[2px] translate-x-[7px]"
    ></span>
  </div>
  <div
    class="px-6 py-5 bg-neutral-800/50 w-full rounded-xl border border-neutral-500/10"
  >
    <header
      class="flex md:flex-row flex-col md:items-center md:justify-between md:mb-6 mb-3"
    >
      <p class="font-semibold text-green-100 text-lg">{title}</p>
      <span class="text-blue-200 leading-10">{subtitle}</span>
    </header>

    <p class="my-2 md:text-base text-sm leading-relaxed">
      <slot />
    </p>
  </div>
</div>

<style>
  .time-line-container > div:last-child .education__time > .education__line {
    display: none;
  }
</style>
