<section class="md:border-l md:pl-6 md:border-neutral-500">
  <div class="grid max-w-4xl grid-cols-1 gap-y-4 md:grid-cols-5">
    <h2 class="text-lg font-semibold mt-0">
      {Astro.props.title}
    </h2>
    <div class="md:col-span-4">
      <div class="space-y-4">
        <slot />
      </div>
    </div>
  </div>
</section>
