---
interface Props {
  title: string;
  description: string;
  href: string;
}

const { title, description, href } = Astro.props;
---

<div class="group relative flex flex-col items-start z-10">
  <div
    class="w-full p-6 py-3 transition-transform duration-700 bg-gray-800/30 group-hover:scale-105 rounded-2xl"
  >
    <h2 class="text-lg font-semibold text-white">
      <a href={href}>
        <span
          class="absolute z-20 -inset-y-6 -inset-x-4 sm:-inset-x-6 sm:rounded-2xl"
        ></span>
        <span class="relative z-10">{title}</span>
      </a>
    </h2>
    <p class="mt-2 text-sm text-white">
      {description}
    </p>
  </div>
</div>
