<section class="grid max-w-full grid-cols-1 gap-5 md:grid-cols-5">
  <h2 class="text-lg font-semibold mt-0">
    {Astro.props.title}
  </h2>
  <div class="md:col-span-4 space-y-4">
    <slot />
  </div>
</section>
