---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Mis proyectos">
	<h1 class="md:text-[40px] text-[32px] font-bold mt-0" transition:name="projects">
		Mis proyectos
	</h1>
	<h4 class="mb-6 -mt-2 text-lg text-neutral-400">
		Estos son algunos de los proyectos en los que he trabajado y de los que mas orgulloso me siento.
	</h4>
</MainLayout>
