:root {
  --bg-blue: #004daa70;
  --bg-purple: #44009760;
  --bg-green: #00999470;
  --bg-yellow: #89870060;
  --bg-red: #ff656550;

  --dark-bg-blue: #004daa50;
  --dark-bg-purple: #44009750;
  --dark-bg-green: #00999450;
  --dark-bg-yellow: #89870050;
  --dark-bg-red: #fc24243b;

  --dark-title-blue: #a0cbff;
  --dark-title-purple: #dab0ff;
  --dark-title-green: #a0ffc0;
  --dark-title-yellow: #FDE68A;
  --dark-title-red: #ff9a9a;

  --title-blue: #005baa;
  --title-purple: #5a2e90;
  --title-green: #009994;
  --title-yellow: #908800;
  --title-red: #a00000bd;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media print {
  .no-print {
    display: none !important;
  }

  astro-dev-toolbar {
    display: none !important;
  }

  p {
    font-size: 12px;
    color: rgb(78, 78, 78);
  }
}

body {
  font-family: "Onest", sans-serif;
  animation: fadeIn 0.5s ease-in-out;
}

img {
  border-radius: 12px;
}

p {
  text-wrap: pretty;
}