---
import Background from "../components/Background.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import BlogBanner from "../components/blog-banner.astro";
import DesktopNavbar from "../components/navbar/DesktopNavbar.astro";

import "@fontsource/onest/400.css";
import "@fontsource/onest/600.css";
import "@fontsource/onest/700.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale} class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="text-neutral-300 bg-neutral-900">
    <Background />
    <BlogBanner />
    <DesktopNavbar />

    <main
      class="w-[1000px] mx-auto max-w-full md:pt-14 pt-8 pb-6 md:pb-14"
    >
      <slot />
    </main>
    <Footer />
    <style is:global>
      body {
        font-family: "Onest", sans-serif;
      }

      .time-line-container
        > div:last-child
        .education__time
        > .education__line {
        display: none;
      }

      p {
        text-wrap: pretty;
      }
    </style>
  </body>
</html>
