---
import Background from "@/components/Background.astro";
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import DesktopNavbar from "@/components/navbar/DesktopNavbar.astro";

import "@fontsource/onest/400.css";
import "@fontsource/onest/600.css";
import "@fontsource/onest/700.css";

import "./globals.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale} class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="dark:text-neutral-300 dark:bg-neutral-900 text-neutral-800 bg-neutral-100"
  >
    <Background />
    <DesktopNavbar />

    <main class="w-[920px] mx-auto max-w-full md:pt-14 pt-8 pb-6 md:pb-14">
      <slot />
    </main>
    <Footer />

    <style is:global>
      @media print {
        .no-print {
          display: none !important;
        }

        astro-dev-toolbar {
          display: none !important;
        }
      }
    </style>
  </body>
</html>
