---
import Background from "@/components/Background.astro";
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import DesktopNavbar from "@/components/navbar/DesktopNavbar.astro";

import "@fontsource/onest/400.css";
import "@fontsource/onest/600.css";
import "@fontsource/onest/700.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale} class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="dark:text-neutral-300 dark:bg-neutral-900 text-neutral-800 bg-neutral-100"
  >
    <Background />
    <DesktopNavbar />

    <main class="w-[920px] mx-auto max-w-full md:pt-14 pt-8 pb-6 md:pb-14">
      <slot />
    </main>
    <Footer />

    <style is:global>
      body {
        font-family: "Onest", sans-serif;
        animation: fadeIn 0.5s ease-in-out;
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      img {
        border-radius: 12px;
      }

      .time-line-container
        > div:last-child
        .education__time
        > .education__line {
        display: none;
      }

      p {
        text-wrap: pretty;
      }

      @media print {
        .no-print {
          display: none !important;
        }

        astro-dev-toolbar {
          display: none !important;
        }
      }
    </style>
  </body>
</html>
