---
interface Props {
  title: string;
  description: string;
  isMain: boolean;
}

import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { Navbar } from "../components/Navbar";

import '@fontsource-variable/onest';

const { title, description, isMain } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="min-h-screen h-full bg-top bg-no-repeat bg-lights-sun bg-zinc-950 text-neutral-300"
  >
    <main class=" w-[1000px] px-2 sm:px-16 md:px-2 sm:mt-0 mt-6">
      {
        !isMain && (
          <>
            <h1 class="md:text-[40px] text-[24px] font-bold mt-0 text-amber-200/90 mb-5">{title}</h1>
            <h4 class="mb-6 -mt-2 text-lg text-neutral-400">{description}</h4>
          </>
        )
      }
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  body {
    font-family: 'Onest Variable', sans-serif;
  }
</style>